@model project3.Models.Account_Card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account_Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.CardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
